.blog {
  height: 200px;
  min-width: 320px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.blog:hover {
  box-shadow:
    rgba(0, 0, 0, 0.06) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
}

.blogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogGrid {
  width: 100%;
}
